:root {
	--box-margin: 10px;
}
html, body {
	height: 100%;
	background-color: var(--bs-light);
}

.userName {
	border: none;
}

.top-logo {
	max-width: 70px;
    margin: 14px;
}

.modal-dialog {
	max-width: 95% !important;
}
section {
	margin: var(--box-margin);
	padding: 8px;
	border-radius: 8px;
	box-sizing: border-box;
}
#content {
	display: flex;
	min-height: 100%;
	flex-wrap: wrap;
}

img {
	max-width: 100%;
}
.greetings {
	width: 100%;
	background-color: var(--bs-white);
}
.posts {
	background-color: var(--bs-white);
	width: calc(80% - var(--box-margin) * 2);
	resize: horizontal;
    overflow: auto;
}

.calendar {
	background-color: var(--bs-white);
	width: calc(20% - var(--box-margin) * 2);
}

.posts__list {
	display: flex;
    flex-wrap: wrap;
	padding: 0;
}
.posts__list-item {
	flex: 1 0 190px;
	list-style: none;
	border-radius: 8px;
    margin: 6px;
    padding: 15px;
}

.post__thumb {
	max-width: 100%;
}

.post__link {
	/* background-color: red;
    display: inline-block;
    color: #fff;
    border-radius: 6px;
    padding: 4px;
    margin-top: 7px; */
}
.post__provider {
	border-radius: 8px;
	padding: 4px 10px;
	font-size: 12px;
	background-color: blueviolet;
}
.post__description {
	display: block;
}

.btn {
	border-radius: 30px;
	border: 0;
	margin: 10px 0;
}
.btn-primary {
	/* background-color: aqua; */
}

.post__provider[data-provider="Smashing Magazine"] {
	background-color: green;
}
.post__provider[data-provider="CSS Tricks"] {
	background-color: yellow;
}
.post__provider[data-provider="Sitepoint"] {
	background-color: teal;
}
.post__provider[data-provider="Codrops"] {
	background-color:darkgoldenrod;
}
.post__provider[data-provider="Dev.to"] {
	background-color:palevioletred;
}
.post__provider[data-provider="CSS Weekly"] {
	background-color:fuchsia;
}


/* section {

} */
