<section class="posts shadow">
  <h2>Resources <span class="role-title"></span></h2>
  <ul class="posts__list">

  </ul>
</section>

<template class="post-template">
  <li class="posts__list-item shadow" data-provider="" data-idx="">
    <div class="mb-3">
      <a
        href=#
        target="_blank"
        class="post__provider"
      ></a>
    </div>
    <div class="post__content">
      <span class="post__title fs-6 fw-bold"></span>
      <span class="post__description fs-6"></span>
    </div>
    <button
      type="button"
      class="btn btn-primary btn-modal"
      data-idx="0"
      data-bs-toggle="modal"
      data-bs-target="#contentModal"
    >
      Read more
    </button>
    <br />
    <small>
      <a
        href=""
        target="_self"
        class="post__link"
      >original post</a>
    </small>
  </li>
</template>
