:root {
	--box-margin: 10px;
	--provider-1-primary: #097e09;
	--provider-2-primary: #9a9a0a;
	--provider-3-primary: #007474;
	--provider-4-primary:#0851b1;
	--provider-5-primary:#d10046;
	--provider-6-primary:#04a4aa;
}
html, body {
	height: 100%;
	background-color: var(--bs-dark);
}
a {
	color: var(--bs-gray);
}
.userName {
	border: none;
}

.top-logo {
	max-width: 70px;
    margin: 14px;
}

.modal-dialog {
	max-width: 95% !important;
}
section {
	margin: var(--box-margin);
	padding: 8px;
	border-radius: 8px;
	box-sizing: border-box;
}
#content {
	display: flex;
	min-height: 100%;
	flex-wrap: wrap;
}

img {
	max-width: 100%;
}
.greetings {
	width: 100%;
	background-color: var(--bs-light);
}
.posts {
	background-color: var(--bs-light);
	width: calc(80% - var(--box-margin) * 2);
	resize: horizontal;
    overflow: auto;
}

.calendar {
	background-color: var(--bs-light);
	width: calc(20% - var(--box-margin) * 2);
}

.posts__list {
	display: flex;
    flex-wrap: wrap;
	padding: 0;
}
.posts__list-item {
	flex: 1 0 190px;
	list-style: none;
	border-radius: 8px;
    margin: 6px;
    padding: 15px;
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;
}
.post__content {
	flex-grow: 2;
}

.post__thumb {
	max-width: 100%;
}
.post__provider {
	font-size: 12px;
	color: var(--primary-color);
}
.post__description {
	display: block;
}

.btn {
	border-radius: 30px;
	border: 0;
	margin: 10px 0;
}
.btn-primary {
	background-color: var(--primary-color);
}
.btn-primary:hover,
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-check:focus+.btn-primary,
.btn-primary:focus {
	filter: brightness(.9);
    background-color: var(--primary-color);
}

.posts__list-item[data-provider="Smashing Magazine"] {
	--primary-color: var(--provider-1-primary);
}
.posts__list-item[data-provider="CSS Tricks"] {
	--primary-color: var(--provider-2-primary);
}
.posts__list-item[data-provider="Sitepoint"] {
	--primary-color: var(--provider-3-primary);
}
.posts__list-item[data-provider="Codrops"] {
	--primary-color: var(--provider-4-primary);
}
.posts__list-item[data-provider="Dev.to"] {
	--primary-color: var(--provider-5-primary);
}
.posts__list-item[data-provider="CSS Weekly"] {
	--primary-color: var(--provider-6-primary);
}

.attending,
.notAttending,
.notConfirmed {
  display: none;
  vertical-align: super;
}
/* TODO: fix those classes to display attend icons */
/* .calendar-event-item.statusConfirmed .notAttending {
  display: block;
} */
/* .calendar-event-item.statusConfirmed .notConfirmed {
  display: block;
} */
.calendar-event-item.statusConfirmed .attending {
  display: inline-block;
}
