:root {
	--box-margin: 10px;
	--provider-1-primary: #097e09;
	--provider-2-primary: #9a9a0a;
	--provider-3-primary: #007474;
	--provider-4-primary:#0851b1;
	--provider-5-primary:#d10046;
	--provider-6-primary:#04a4aa;
  --provider-7-primary:#640b97;
  --provider-8-primary:#d81db9;
}
html, body {
	height: 100%;
	background-color: var(--bs-dark);
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "Header Header Header Header Header Header"
    "Greetings Greetings Greetings Links Links Calendar"
    "Resources Resources Resources Resources Resources Calendar";
}

custom-header { grid-area: Header; }
greetings-area { grid-area: Greetings; }
links-area { grid-area: Links; }
calendar-area { grid-area: Calendar; }
resources-area { grid-area: Resources; }

a {
	color: var(--bs-gray);
}
.userName {
	border: none;
}

.top-logo {
	max-width: 70px;
    margin: 14px;
}

.modal-dialog {
	max-width: 95% !important;
}
section {
	padding: 8px;
	border-radius: 8px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
